/* website: eo ipso v.1 */
/*author: Zach Wasser*/
/* I want the body background color to be like parchment paper, but not super yellowed -- that will give the page a kind of authority -- like a legal document; h1/h2 text to either be dark grey or orange and then the background is either dark grey/orange depending on text color; links will be light blue*/

body{
	background-color:#F7FCFF;
}


.header{
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
	 background-color:#152323;
	 background-color:#231521;
	 color:#FF8808;
	 color:#FFC408;
	 text-align:left;
	font-style:oblique;
	 width: 95%;
	 height:125px;
	margin:0 auto;
	font-size:200%;
	padding: 6px 20px 6px 12px;
} 

#nav_bar{
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
	}

.box{
	width:230px;
	float:left;
	margin:5px;
	padding:5px;
	background-color:#FF8808;
	background-color: #FFC408;;
	text-align:center;
	list-style:none;
	font-weight:bold;
	color:#231521;
}

.box:link {
color: blue;
text-decoration: none;
}

.box:visited {
color: gray;
}

.box:hover {
color: #66DCFF;
text-decoration: underline;
}

.box:active {
color: #892EE8;
}

input {
	padding: 6px 12px 6px 12px;
	border: 1px solid #665544;
	color: #ffffff;
}

input.box:hover {
background-color: #665544;
}

input.box:active {
background-color: blue;
}

input.box {
color: #cccccc;
}

input.box:focus {
color: #665544;
}

.content{
	width:90%;
	margin:0 auto;
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
}

.featured{
	width:80%;
	float:left;
	font-family: "Courier New," Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.video{
	color: #333;
	font-family: "Courier New," Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color:##f8f7f3;
	padding:0px;
	margin:0px;
	}


.video #measles {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

.timeline{
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
	text-align:left;
	float:right;
	top:250px;
	right:10px;
	margin:40px;
	padding:20px 20px 300px 20px;
	background-color:#152323;
	color:white;
	line-height:1.8em;
	border-style: inset;
	border-color:#FF8808; 
	border-color: #FFC408;
}

.timeline li{
	list-style:none;
}

#summary{
	position:relative;
}

.podcast{
	text-align:left;
	float:left;
}

#footer{
	float:left;

}
#footer li{
	list-style:none;
	display:inline;
	border: 1px solid ##FFC408;
	border-radius:5px;
	padding: 5px 5px 5px 30px;
	background-color:#f2f2f2;
	background-repeat:no-repeat;
	background-position:8px 9px;
	margin-bottom: 10px;
	text-align:left;
}

.footertab:link {
color: blue;
text-decoration: none;
}

.footertab:visited {
color: gray;
}

.footertab:hover {
color: #66DCFF;
text-decoration: underline;
}

.footertab:active {
color: #892EE8;
}

input {
	padding: 6px 12px 6px 12px;
	border: 1px solid #665544;
	color: #ffffff;
}

input.footertab:hover {
background-color: #665544;
}

input.footertab:active {
background-color: blue;
}

input.footertab {
color: #cccccc;
}

input.footertab:focus {
color: #665544;
}

