/* website: eo ipso v.1 */
/*author: Zach Wasser*/
/* I want the body background color to be like parchment paper, but not super yellowed -- that will give the page a kind of authority -- like a legal document; h1/h2 text to either be dark grey or orange and then the background is either dark grey/orange depending on text color; links will be light blue*/

body{
	background-color:#F7FCFF;
}


.header{
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
	 background-color:#152323;
	 background-color:#231521;
	 color:#FF8808;
	 color:#FFC408;
	 text-align:left;
	font-style:oblique;
	 width: 95%;
	 height:125px;
	margin:0 auto;
	font-size:200%;
	padding: 6px 20px 6px 12px;
} 

#nav_bar{
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
	}

.box{
	width:230px;
	float:left;
	margin:5px;
	padding:5px;
	background-color:#FF8808;
	background-color: #FFC408;;
	text-align:center;
	list-style:none;
	font-weight:bold;
	color:#231521;
}


.box:hover {
color: #66DCFF;
text-decoration: underline;
}

.box:active {
color: #892EE8;
}

.content{
	width:90%;
	margin:0 auto;
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
}

.featured{
	width:80%;
	float:left;
	font-family: "Courier New," Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.video{
	color: #333;
	font-family: "Courier New," Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color:##f8f7f3;
	padding:0px;
	margin:50px 0px 0px 0px;
	}


.video #measles {
	float:left;
	margin-right:20px;
}

#summary{
	padding-left:550px;
}


.podcast{
	color: #333;
	font-family: "Courier New," Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color:##f8f7f3;
	clear:both;
	margin:0px;
}

.summary2{
	float:left;
	width:500px;
	padding-top:75px;
	padding-right:30px;
	padding-left:0px;
}


.podcast .investigation {
	float:right; 
	padding-bottom:50px;
	padding-right:0px;
}

.timeline{
	font-family: Rockwell, "Courier Bold", Georgia, "Times New Roman", serif;
	float:right;
	top:250px;
	right:10px;
	margin:40px -10px 0px 0px;
	padding:50px 40px 300px 40px;
	background-color:#152323;
	color:white;
	line-height:1.8em;
	border-style: inset;
	border-color:#FF8808; 
	border-color: #FFC408;
	width:100px;
	text-align: center;
}

.timeline li{
	list-style:none;
	padding-bottom:20px;
	text-align:left;
}


.copyright li{
	text-align:left;
	font-weight:lighter;
	list-style:none;
	display:inline;
	background-color:white;
	float:left;
	padding-bottom:20px;
		margin: -5px 0px 20px -50px;

}

#footer{
	width: 100%;
	clear: left;
	text-align:right;
	float:left;
	width:100%;
}

#footer li{
	list-style:none;
	display:inline;
	border: 1px solid ##FFC408;
	border-radius:5px;
	padding: 5px 5px 5px 30px;
	margin-bottom: 10px;
}

.footertab:hover {
color: #66DCFF;
text-decoration: underline;
}

.footertab:active {
color: #892EE8;
}

a:link {
color: black;
text-decoration: none;
}

a:visited {
color: black;
}

a:hover {
color: #66DCFF;
text-decoration: none;
}

a:active {
color: #892EE8;
}

input {
	padding: 6px 12px 6px 12px;
	border: 1px;

}

input.footertab:hover {
background-color: #665544;
}

input.footertab:active {
background-color: #665544;
}

input.footertab {
color: #green;
}

input.footertab:focus {
color: #665544;
}




